.toggle-button {
    -fx-text-fill: white;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-text-fill: black;
    -fx-base: transparent;
    -fx-background-color: #8ad3ff;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}
